{{define "title"}}Carl Zhang{{end}}

{{define "content"}}
<div class="link-container">
    <a href="/">Home</a>
    <a href="/photos">Photos</a>
</div>
<h1>CARL ZHANG</h1>
<p>I like to solve problems. I&apos;m also a big fan of computers. I&apos;ll put something cool here <a href="https://www.timeanddate.com/countdown/to?iso=20250901T00">soon</a>. </p>

<div class="link-container">
    <a href="mailto:zhang.carl.x@gmail.com">Email</a>
    <a href="https://github.com/car1zhang">GitHub</a>
</div>
{{end}}
