<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{template "title" .}}</title>
        <meta name="og:title" content="Carl Zhang" />
        <meta name="description" content="Carl Zhang's site" />
        <meta name="og:description" content="Carl Zhang's site" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link href="/static/styles.css?id=0" rel="stylesheet">
        <link rel="icon" href="/static/favicon.ico">
    </head>
    <body>
        {{block "content" .}}{{end}}
    </body>
</html>
