{{define "title"}}Carl Zhang Photos{{end}}

{{define "content"}}
<div class="row">
    <a href="/">car1zhang.com</a>
    <a href="/photos">photos</a>
</div>
<h1>Photos by Carl.</h1>
<p>I use a Canon EOS R50 usually with an RF50mm F1.8 STM lens and edit in darktable and GIMP.</p>

{{range .}}
<div class="collection">
    <h2>
        <a href="/photos/collection/{{.Collection.ID}}">
            {{.Collection.Title}}
        </a>
    </h2>
    <div class="photo-container">
        {{range .Photos}}
        <a href="/photos/photo/{{.ID}}">
            <div class="photo-box small">
                <img src="https://imagedelivery.net/Jub0u_w-QxWioVt50_O2Ew/{{.ID}}/thumbnail" alt="{{.Title}}" draggable="false" />
            </div>
        </a>
        {{end}}
    </div>
</div>
{{end}}
{{end}}
