{{define "title"}}{{.Photo.Title}}{{end}}

{{define "content"}}
<div class="row">
    <a href="/">car1zhang.com</a>
    <a href="/photos">photos</a>
</div>
<h1>{{.Photo.Title}}</h1>
<div class="photo-box full">
    <img src="https://imagedelivery.net/Jub0u_w-QxWioVt50_O2Ew/{{.Photo.ID}}/public" alt="{{.Photo.Title}}" draggable="false" />
</div>
<div class="row">
    {{range .Collections}}
    <h2>
        <a href="/photos/collection/{{.ID}}">
            {{.Title}}
        </a>
    </h2>
    {{end}}
</div>
{{end}}
